
<div mat-dialog-title><h2>Skill Passport</h2></div>

<mat-dialog-content class="mat-typography modal-background">
        <!-- <h2 class="modal-header">Skill Passport</h2> -->

    <div class="_container">
        <form [formGroup]="jobsFormGroup" (ngSubmit)="onSubmit()">
            <ng-template matStepLabel><span class="stepper-label form-label">Create Job
                </span></ng-template>


            <mat-form-field class="_mat-form-field">
                <mat-label>Level Of Preperation</mat-label>
                <mat-select [(ngModel)]="selectedPrepLevel" formControlName="levelOfPrep">
                    <mat-option [value]="prepLevel"
                        *ngFor="let prepLevel of prepLevelList">{{prepLevel}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="_mat-form-field">
                <mat-label>Years Of Experience</mat-label>
                <mat-select [(ngModel)]="selectedExpYear" formControlName="experience">
                    <mat-option [value]="expYear"
                        *ngFor="let expYear of experienceYearList">{{expYear}}</mat-option>
                </mat-select>
            </mat-form-field>

            <br>

            <mat-form-field appearance="outline" class="_mat-form-field">
                <label><span class="field-label"> Qualification
                        <mat-icon aria-hidden="false" aria-label="Example home icon" color="primary" fontIcon="info"
                            title="Info about the action" matTooltipPosition="bottom">
                        </mat-icon>
                    </span></label>
                <input matInput placeholder="Enter Qualification" type="text" class="input"
                    formControlName="qualification">
            </mat-form-field>

            <mat-form-field appearance="outline" class="_mat-form-field">
                <label><span class="field-label">Certification
                        <mat-icon aria-hidden="false" aria-label="Example home icon" color="primary" fontIcon="info"
                            title="Info about the action" matTooltipPosition="bottom">
                        </mat-icon>
                    </span></label>
                <input matInput placeholder="Enter Certification" type="text" class="input" formControlName="certification">
            </mat-form-field>

            <mat-form-field formArrayName="skills" appearance="outline" class="custom_mat-form_field"
                *ngFor="let skillCtrl of skillControls; let i = index">
                <div [formGroupName]="i">
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <label>Skill Name
                                <span class="field-label">
                                    <mat-icon aria-hidden="false" aria-label="Example home icon" color="primary"
                                        fontIcon="info" title="Info about the action" matTooltipPosition="bottom">
                                    </mat-icon>
                                </span>
                            </label>
                            <input matInput placeholder="Enter Skill" readonly class="input text-center" formControlName="skillName">
                        </div>

                        <div class="col-md-8 text-center">
                            <label for="formFileLg" class="form-label bold"> Skill Level</label>

                            <mat-radio-group aria-label="Select an option" color="primary" class="input" formControlName="skillLevel">
                                <mat-radio-button value="1">1</mat-radio-button>
                                <mat-radio-button value="2">2</mat-radio-button>
                                <mat-radio-button value="3">3</mat-radio-button>
                                <mat-radio-button value="4">4</mat-radio-button>
                                <mat-radio-button value="5">5</mat-radio-button>
                                <mat-radio-button value="6">6</mat-radio-button>
                                <mat-radio-button value="7">7</mat-radio-button>
                                <mat-radio-button value="8">8</mat-radio-button>
                                <mat-radio-button value="9">9</mat-radio-button>
                                <mat-radio-button value="10">10</mat-radio-button>
                            </mat-radio-group>
                            
                        </div>

                    </div>

                </div>
            </mat-form-field>

            <button mat-button mat-flat-button color="primary" type="button" class="custom-button">Reset</button>
            <button mat-button mat-flat-button color="primary" type="submit" class="custom-button">Submit</button>
        </form>
        <!-- <button mat-flat-button mat-dialog-close>Close</button> -->
    </div>

    </mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-flat-button mat-dialog-close>Close</button>
</mat-dialog-actions>