

<mat-dialog-content class="mat-typography _container">
  <h3>Jobs in business lane</h3>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let job of jobData; trackBy: getJobId">
      <mat-expansion-panel-header>
        <mat-panel-title>
         <b> {{ job.title }} </b>
        </mat-panel-title>
        <mat-panel-description>
          <b>Qualification</b> - {{ job.qualification }} | <b>Expected Salary</b> - {{ job.salary}}$ CAD | <b>Experience</b> - {{ job.experience }} yrs

        </mat-panel-description>
      </mat-expansion-panel-header>
      <br>
      <h4>Job Qualification</h4>  {{ job.qualification }}
      <h4>Expected Salary</h4> {{ job.salary}}$ CAD
      <h4>Experience</h4> {{ job.experience }} yrs
      <h4>Certification</h4> {{job.certification}}

      <h4>Descrpition</h4>
      <p>{{ job.description }}</p>
      <h4>Roles And Responsibilities</h4>
      <p>{{ job.responsibilites }}</p>
      <button mat-flat-button  (click) ="addToWallet(job)">Add To Wallet
        <mat-icon aria-hidden="false" aria-label="Example home icon" 
            fontIcon="wallet" title="Info about the action"
            matTooltipPosition="bottom">
        </mat-icon>
      </button>
    </mat-expansion-panel>

  </mat-accordion>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
