
<mat-dialog-content class="mat-typography _container">
  <h3>Jobs in business lane</h3>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let job of jobData; trackBy: getJobId">
      <mat-expansion-panel-header>
        <mat-panel-title>
         <b> {{ job.title }} </b>
        </mat-panel-title>
        <mat-panel-description>
          Qualification - {{ job.qualification }} | Expected Salary - {{ job.salary}}$ CAD 

        </mat-panel-description>
      </mat-expansion-panel-header>
      <h2>Descrpition</h2>
      <p>{{ job.description }}</p>
      <button mat-button color="primary" (click) ="addToWallet()">Add To Wallet
        <mat-icon aria-hidden="false" aria-label="Example home icon" color="primary"
            fontIcon="wallet" title="Info about the action"
            matTooltipPosition="bottom">
        </mat-icon>
      </button>
    </mat-expansion-panel>

  </mat-accordion>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>