<app-planets></app-planets>
<div class="row fixed-top"></div>
<div class="row m-1 fixed-bottom">

    <div class="col-md-6 ">
        <div class="card " style="">
            
            <div class="card-body text-white">
                <div class="card-title ">
                    <h2>Tool Cupboard</h2>
                </div>
                <div class="custom_job_card" (click)="openSkillPassportDialog()">
                    <i class="bi bi-passport"></i>
                    Skill Passport
                </div>
                <div class="custom_job_card" (click)="openWorkHabitDialog()">
                    Work Habits
                </div>

                <div class="custom_job_card" (click)="openComparatorDialog()">
                    Comparator
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-6 d-flex flex-row-reverse">
        <div class="custom_card m-1">

            <div class="custom_job_card" routerLink="/map">
                <h3>                            
                    <img class="custom-icon" src="../../assets/place.png" height="45">
                    Map
                </h3>
            </div>

            <div class="custom_job_card" (click)="openJobWalletDialog()">
                <h3>                    
                    <img class="custom-icon" src="../../assets/briefcase.png" height="45">
                    Job Wallet
                </h3>
            </div>
            <div class="custom_job_card">
                <h3>                    
                    <img class="custom-icon" src="../../assets/logout.png" height="45">
                Exit</h3>
            </div>

        </div>

    </div>
            <!-- <div class="custom_job_card">
                <h1>Inventory</h1>
            </div> -->
</div>