<div class="container">

    <div class="row" style="padding-top: 5px; padding-bottom: 5px;">

        <!-- <div class="col-3">
            <label class="sr-only">Start Point</label>
            <input type="text"  [(ngModel)]="startPoint" class="form-control"  placeholder="Start Point">
        </div>
        <div class="col-3">
            <label  class="sr-only">End Point</label>
            <input type="text"  [(ngModel)]="endPoint" class="form-control" placeholder="End Point">
        </div> -->
        <div class="col-2">
          <!-- <button class="btn btn-primary" (click) = "showDirection()">Direction</button> -->
        </div>
        <div class="col-2">
          <!-- <button class="btn btn-primary" (click) = "showDistance()">Distance</button> -->
        </div>


    </div>

    <div id="myMap" class ="mapClass" ></div>
</div>

