.mat-mdc-snack-bar-container {
    .mdc-snackbar__surface {
        background-color: rgba(255, 0, 0, 0.5) !important;
        color: white !important;
    }
}

.mat-mdc-snack-bar-action {
    color: white !important;
}
