<mat-stepper [linear]="'Disable linear mode'" #stepper>
    <mat-step [stepControl]="jobsFormGroup">
        <form [formGroup]="jobsFormGroup" (ngSubmit)="onSubmit()">
            <ng-template matStepLabel><span class="stepper-label form-label">Create Job
                </span></ng-template>

            <mat-form-field appearance="outline">
                <label><span class="field-label">Job Title
                        <mat-icon aria-hidden="false" aria-label="Example home icon" color="primary" fontIcon="info"
                            title="Info about the action" matTooltipPosition="bottom">
                        </mat-icon>
                    </span></label>
                <input matInput placeholder="Enter Title" type="text" class="input" formControlName="title">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <label><span class="field-label">Job Description
                        <mat-icon aria-hidden="false" aria-label="Example home icon" color="primary" fontIcon="info"
                            title="Info about the action" matTooltipPosition="bottom">
                        </mat-icon>
                    </span></label>
                <input matInput placeholder="Enter Description" type="text" class="input"
                    formControlName="description">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <label><span class="field-label"> Required Qualification
                        <mat-icon aria-hidden="false" aria-label="Example home icon" color="primary" fontIcon="info"
                            title="Info about the action" matTooltipPosition="bottom">
                        </mat-icon>
                    </span></label>
                <input matInput placeholder="Enter Qualification" type="text" class="input"
                    formControlName="qualification">
            </mat-form-field>


            <mat-form-field appearance="outline">
                <label><span class="field-label">Expected Salary
                        <mat-icon aria-hidden="false" aria-label="Example home icon" color="primary" fontIcon="info"
                            title="Info about the action" matTooltipPosition="bottom">
                        </mat-icon>
                    </span></label>
                <input matInput placeholder="Enter Salary" type="number" class="input" formControlName="salary">
            </mat-form-field>

            <mat-form-field formArrayName="skills" appearance="outline" class="custom_mat-form_field"
                *ngFor="let skillCtrl of skillControls; let i = index">
                <div [formGroupName]="i">
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <label>Skill Name
                                <span class="field-label">
                                    <mat-icon aria-hidden="false" aria-label="Example home icon" color="primary"
                                        fontIcon="info" title="Info about the action" matTooltipPosition="bottom">
                                    </mat-icon>
                                </span>
                            </label>
                            <input matInput placeholder="Enter Skill" readonly class="input text-center" formControlName="skillName">
                        </div>

                        <div class="col-md-8 text-center">
                            <label for="formFileLg" class="form-label bold"> Skill Level
                                <!-- <small>( Choose a file to upload. )</small> -->
                            </label>

                            <mat-radio-group aria-label="Select an option" color="primary" formControlName="skillLevel">
                                <mat-radio-button value="1">1</mat-radio-button>
                                <mat-radio-button value="2">2</mat-radio-button>
                                <mat-radio-button value="3">3</mat-radio-button>
                                <mat-radio-button value="4">4</mat-radio-button>
                                <mat-radio-button value="5">5</mat-radio-button>
                                <mat-radio-button value="6">6</mat-radio-button>
                                <mat-radio-button value="7">7</mat-radio-button>
                                <mat-radio-button value="8">8</mat-radio-button>
                                <mat-radio-button value="9">9</mat-radio-button>
                                <mat-radio-button value="10">10</mat-radio-button>
                            </mat-radio-group>
                        </div>

                    </div>

                </div>
            </mat-form-field>

            <button mat-button mat-flat-button color="primary" type="button" class="custom-button"
                >Reset</button>
            <button mat-button mat-flat-button color="primary" type="submit" class="custom-button">Submit</button>
        </form>

    </mat-step>
</mat-stepper>