

<div mat-dialog-title><h2>Job Wallet</h2></div>

<mat-dialog-content class="mat-typography modal-background">
<div *ngFor="let job of jobsInWallet; trackBy: trackByIdFn">
  <mat-card>
    <mat-card-header class="customer-card-header">

      <mat-card-title><h4>{{ job.title }}</h4></mat-card-title>
      <mat-card-subtitle>Required Qualification: {{ job.qualification}}</mat-card-subtitle>

    </mat-card-header>
    <mat-divider></mat-divider>
    <br>
    <mat-card-content>
      <p>
        <b>Job Description:</b> {{job.description}}
      </p>
    </mat-card-content>
    <mat-card-actions >
      <button mat-flat-button color="primary">
        <mat-icon aria-hidden="false" aria-label="Example home icon" color="basic"
        fontIcon="delete" title="Info about the action"
        matTooltipPosition="bottom" (click) ="removeFromWallet(job)">
    </mat-icon >Remove</button>
    </mat-card-actions>
  </mat-card>

  
  <br>
</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button mat-dialog-close>Close</button>
</mat-dialog-actions>