<div class="_container">
    <h1>Career Games</h1>
    <div class="row">
        <div class="col-sm-3 _form " *ngIf="isLoginMode">
            <app-login></app-login>
        </div>

        <div class="col-sm-3 _form " *ngIf="!isLoginMode">
            <app-sign-up></app-sign-up>
        </div>

        <div class="col-sm-3 _form " *ngIf="false">
            <app-otp-verify></app-otp-verify>
        </div>

        <div class="mb-5 mt-1 ms-5 me-5">
            <small class="mt-4" *ngIf="!isLoginMode">Already have an account? <a herf="#" class="mode" (click)="switchMode()" ><b>Login</b></a> here.</small>
            <small class="mt-4" *ngIf="isLoginMode">Don't have an account? <a herf="#" class="mode" (click)="switchMode()"><b>Sign Up</b></a> here.</small>
        </div>
    </div>
</div>