<mat-stepper [linear]="'Disable linear mode'" #stepper>
    <mat-step [stepControl]="lanesFormGroup">
        <form [formGroup]="lanesFormGroup" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
            <ng-template matStepLabel><span class="stepper-label form-label">Create Lanes
                </span></ng-template>
            <div class="row m-6">
                <small>( Choose a planet before adding the lanes.)</small>
                <div class="col-md-12">
                    <!-- [disabled]="selectedPlanet" -->
                    <mat-form-field>
                        <mat-label>All Planets </mat-label>
                        <mat-select [(ngModel)]="selectedPlanet" 
                            [ngModelOptions]="{standalone: true}" [disabled]="selectedPlanet != '' ? true: false">
                            <mat-option [value]="planet._id"
                                *ngFor="let planet of planetList">{{planet.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button mat-button mat-flat-button color="primary" type="button" (click)="addNewLane()"
                        [disabled]="!selectedPlanet">Add New
                        Lanes/Street<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add"
                            title="Info about the action" matTooltipPosition="bottom">
                        </mat-icon></button><br>
                    <small *ngIf=selectedPlanet color="primary">( Reset the form, if you wish to change the
                        planet.)</small><br>


                    <mat-form-field formArrayName="lanes" appearance="outline" class="custom_mat-form_field"
                        *ngFor="let laneFormGroup of lanesControl; let i = index">
                        <div [formGroupName]="i">

                            <div class="row m-6">
                                <div class="col-md-5">
                                    <label>
                                        <span class="field-label">Lane/Street {{ i+1 }}
                                            <mat-icon aria-hidden="false" aria-label="Example home icon" color="primary"
                                                fontIcon="info" title="Info about the action"
                                                matTooltipPosition="bottom">
                                            </mat-icon>
                                        </span>
                                    </label>
                                    <input matInput placeholder="Lane Name" class="input" formControlName="laneName">
                                </div>
                                <div class="col-md-5">

                                    <label for="formFileLg" class="form-label bold"> Lane/Street Image
                                        <small>( Choose a file to upload. )</small>
                                    </label>
                                    <input class="form-control form-control-sm input" formControlName="laneImage"
                                        id="formFileLg" type="file" (change)="onLaneImageSelected($event)">

                                </div>

                                <div class="col-md-2 d-flex flex-row-reverse">
                                    <mat-icon aria-hidden="false" aria-label="Example home icon" color="primary"
                                        fontIcon="close" title="Info about the action" matTooltipPosition="bottom"
                                        (click)="removeItem(i)">
                                    </mat-icon>
                                </div>
                            </div>
                            
                        </div>

                    </mat-form-field><br>
                    <button mat-button mat-flat-button color="primary" type="button"
                        class="custom-button" (click) = "removeAllItems()">Reset</button>
                    <button mat-button mat-flat-button color="primary" type="submit"
                        class="custom-button">Submit</button>
                </div>
            </div>


        </form>

    </mat-step>
</mat-stepper>