$text_color: rgb(0, 0, 0);

._container {
    background-color: white;
}
// ::-webkit-scrollbar {
//     width: 7px;

//     background: grey;
//     box-shadow: inset 0 0 4px #707070;
// }

// ::-webkit-scrollbar-thumb {
//     background: white;
//     border-radius: 2px;
// }

.mat-stepper-horizontal {
    margin: 8px;
    max-height: 70vh;
    background: rgba(255, 255, 255, 0.8);
    overflow-y: scroll;
}


.mat-mdc-form-field {
    margin-top: 16px;
    border-radius: 5px;
}
.field-label {
    color: $text_color;
    font-size: small;
}
.stepper-label {
    color: $text_color;
}
::ng-deep .mat-horizontal-content-container {
    // input:
    color: $text_color;
    border-radius: 5px;
}
.custom-form {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
}
.input {
    color: grey !important;
    // border-bottom: 1px solid #707070;

}
mat-icon {
    &:hover{
        cursor: pointer;
    }
}
.custom_mat-form_field {
    width: 100%;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
mat-step {
    overflow-y: scroll;
}
button {
    margin-left: 1%;
}
.custom-button {
    margin-right: 1%;
}